<table class="table table-striped">
    <tbody>
      <tr>
        <td span="col"><b>{{vehicleSrv.vehicleDetail.Make_ID.label}}</b></td>
        <td span="col" colspan="2"><b>{{vehicleSrv.vehicleDetail.Make_Name.label}}</b></td>
      </tr>
      <tr>
        <td span="col"> {{vehicleSrv.vehicleDetail.Make_ID.value}}</td>
        <td span="col" colspan="2">{{vehicleSrv.vehicleDetail.Make_Name.value}}</td>
      </tr>
      <tr>
        <td span="col"><b>{{vehicleSrv.vehicleDetail.Model_ID.label}}</b></td>
        <td span="col" colspan="2"><b>{{vehicleSrv.vehicleDetail.Model_Name.label}}</b> </td>
      </tr>
      <tr>
        <td span="col">{{vehicleSrv.vehicleDetail.Model_ID.value}}</td>
        <td span="col" colspan="2">{{vehicleSrv.vehicleDetail.Model_Name.value}}</td>
      </tr>
      <tr>
        <td span="col"><b>{{vehicleSrv.vehicleDetail.VehicleTypeId.label}}</b> </td>
        <td span="col" colspan="2"><b>{{vehicleSrv.vehicleDetail.VehicleTypeName.label}}</b></td>
      </tr>
      <tr>
        <td span="col">{{vehicleSrv.vehicleDetail.VehicleTypeId.value}}</td>
        <td span="col" colspan="2">{{vehicleSrv.vehicleDetail.VehicleTypeName.value}}</td>
      </tr>
    </tbody>
  </table>