.container {
   position: relative;
   left: 40%;
   top: 50%;
}

@media (max-width: 767px) {
   .container{    
      clear:both;
      margin-left:0px;
      top:5%;
      left:0;
   }
   .card {
     width: 100%;
     max-width: 300px;
    
   }
 }