<div>
    <p> Develop a nice looking User Interface using the Angular framework, leveraging some combination of the 3 Vehicle
        APIs outlined below, to present this information to the end customers.<b> Mandatory features include the
            presentation of vehicle Make ID & Make Name, along with the ability to view the associated Model IDs & Model
            Names for a chosen Make. Attached is an example wireframe, but your solution can deviate from this provided
            the
            minimum requirements are met.</b> Consider this as a real world scenario and an opportunity to showcase
        coding
        skills by following industry's best practices.</p>
    <dt> APIs:</dt>
    <li> API-1 - The API provides all the Vehicle Makers available in the database and returns list of Make_ID and
        Make_Name.

        https://vpic.nhtsa.dot.gov/api/vehicles/getallmakes?format=json
    </li>
    <li> API-2 - The API provides the Vehicle Models in the database for a specific Make_ID and returns list of Make_ID,
        Make_Name, Model_ID and Model_Name.

        "https://vpic.nhtsa.dot.gov/api/vehicles/GetModelsForMakeId/Make_ID>?format=json" </li>
    <li>
        API-3 - The API provides the Vehicle Types in the database for a specific Make_ID and return list of
        VehicleTypeId and VehicleTypeName

        https://vpic.nhtsa.dot.gov/api/vehicles/GetVehicleTypesForMakeId/Make_ID?format=json</li>
    <ul>
        <li>Evaluation Criteria:</li>

        <li>Production ready code</li>
        <li>Code Correctness</li>
        <li>Code Quality</li>
        <li>Code Maintainability</li>
        <li>Code Extensibility</li>
        <li>Code Readability</li>
    </ul>
</div>